<div class="footer-container">
    <div class="container">
        <footer id="footer" class="sixteen columns" data-hook>
            <div id="footer-one" class="columns alpha four" data-hook>
              <h2>INDIRIZZO</h2>

              <p>Piazza Garibaldi 14.<br/>
              Pratola Peligna, AQ 67035</p>

              <p>Dott. Giovanni Bellaantuono</p>

              <p>Tel./Fax. 0864 27 4436</p>

              <p>Cell. +39 3463290017</p>

              <p><a href="mailto:farmaciapeligna@libero.it">e-mail farmaciapeligna@libero.it</a></p>

            </div>
            <div id="footer-two" class="columns four" data-hook>
              <h2>RECAPITI</h2>

              Tell. Fax. : 0864/27-4436<br/>
              Mobil:+39 328-7520491

            </div>
            <div id="footer-tree" class="columns four" data-hook>
              <h2>CONTATTACI</h2>
              <a href="mailto:farmaciapeligna@libero.it">e-mail farmaciapeligna@libero.it</a>
            </div>
            <div id="footer-four" class="columns omega four" data-hook>
              © 2013 by Pharmacy. All rights reserved.
            </div>
        </footer>
    </div>
</div>
